* {
    color: #2B4676;
}
body {
    height: 100vh;
    background-image: url(./img/anchor.jpg);
    background-size: 20%;
    margin: 0;
}

header {
    background-color: aliceblue;
    margin: 0;
}

.header {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.header div {
    border: solid 1px #2B4676;
}

#content {
    background-color: aliceblue;
    width: 70%;
    margin: auto;
}

.img {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
    height: auto;
}

h1, h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

.welcome, .description {
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    width: 100%;
}